{% extends "fulcrum/base_site.html" %}

{% block title %}Fulcrum{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block content %}
    
<div class="arrowtitle">
    <img src="/media/fulcrum/images/orange_arrow.png"/>
    <h1>Resources</h1>
</div>
    
    {% regroup resource_list|dictsort:'group' by group as group_list %}
    {% for group in group_list %}
        <h2>{{ group.grouper }}</h2>
        {% for resource in group.list %}
		<div class="modelgroup {% cycle 'even' 'odd' %}">
            <a href="{{ resource.resource.data_url }}">
                <h2>{{ resource.resource.verbose_name|capfirst }}</h2>
                <p><a href="{{ resource.resource.api_url }}">API</a><a href="{{ resource.resource.data_url }}">Data</a></p>
            </a>
		</div>
        {% endfor %}
	{% endfor %}
    
{% endblock %}
