{% extends "fulcrum/base_site.html" %}

{% block title %}{{ resource.verbose_name_plural|capfirst }}{% endblock %}

{% block content %}

<div class="arrowtitle">
    <img src="/media/images/orange_arrow.png"/>
    <h1>{{ resource.objects.count }} {% if resource.objects.count|pluralize %}{{ resource.verbose_name_plural }}{% else %}{{ resource.verbose_name }}{% endif %}</h1>
</div>

<div id="resourcelist">
    <p>View as: <a href="{% url fulcrum:fulcrum_index %}{{ resource.data_url }}.json">JSON</a>, <a href="{% url fulcrum:fulcrum_index %}{{ resource.data_url }}.xml">XML</a></p>
    <ul class="objectlist">
    {% for object in resource.objects %}
        <li class="{% cycle 'odd' 'even' %}">
            <a href="{% url fulcrum:fulcrum_index %}{{ object.url }}">
                {{ object }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}