{% extends "servicebrowser/base_site.html" %}

{% block title %}{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a> / <a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a> / <a href="../">Fields</a> / By {{ field.field.verbose_name }}</div>
<div id="api">api: <a href="../{{ field.field.name }}.json">json</a>, <a href="../{{ field.field.name }}.xml">xml</a></div>

<h1>{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}</h1>

<ul class="objectlist">
{% for object in object_list %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ object|iriencode }}/">{{ object }}</a></li>
{% endfor %}
</ul>

{% endblock %}
